* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #1A1924;
    --remetente-chat-color: #633BBC;
    --emissor-chat-color: #07847E;
    --input-message-color: #282843;
    --text-color: #E1E1E6;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 375px;
    height: 682px;
    margin: 50px auto;
    padding: 24px 32px;
}

/* seccao do perfil */
#profile {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    width: 311px;
    height: 88px;
    gap: 16px;
}

/* imagem do perfil */
#profile .picture img {
    width: 58px;
    height: 58px;
    border-radius: 100%;
    display: flex;
    text-align: center;
}

.picture,
.name,
.close {
    display: inline;
    width: 29%;
    text-align: center;
}

.name-user {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    margin-top: 13px;
    margin-left: -80px;

}

.online-eclipse {
    margin-left: -102px;
}

.picture {
    text-align: left;
}

.close {
    text-align: right;
    margin-top: 30px;

    cursor: pointer;
}

.online {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    margin-top: 4px;
    color: #00B37E;
}