* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #1A1924;
    --remetente-chat-color: #633BBC;
    --emissor-chat-color: #07847E;
    --input-message-color: #282843;
    --text-color: #E1E1E6;
}

body {
    background-color: #1E1E1E;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 375px;
    height: 682px;
    margin: 50px auto;
    padding: 24px 32px;
    background: var(--bg-color);
}

/* seccao do perfil */
#profile {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    width: 311px;
    height: 88px;
    gap: 16px;
}

/* imagem do perfil */
#profile .picture img {
    width: 58px;
    height: 58px;
    border-radius: 100%;
    display: flex;
    text-align: center;
}

.picture,
.name,
.close {
    display: inline;
    width: 29%;
    text-align: center;
}

.name-user {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    margin-top: 13px;
    margin-left: -80px;

}

.online-eclipse {
    margin-left: -102px;
}

.picture {
    text-align: left;
}

.close {
    text-align: right;
    margin-top: 30px;

    cursor: pointer;
}

.online {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    margin-top: 4px;
    color: #00B37E;
}

/* Data da conversa */
#data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.8;
    color: var(--text-color);
    text-align: center;
}

#message {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    width: 311px;
}


#chat-rocketseat-1 {
    width: 311px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.time-rocketseat {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--text-color);

    margin-bottom: 10px;
}

.message-rocketseat {
    width: 210px;
    padding: 10px;

    background: #633BBC;
    border-radius: 0px 8px 8px 8px;
}

#chat-you-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    margin-bottom: 30px;
}

.time-you {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.message-you {
    width: 210px;
    height: 42px;
    padding: 14px;

    background: var(--emissor-chat-color);
    border-radius: 8px 8px 0px 8px;
}

#chat-rocketseat-2 {
    width: 311px;
    height: 108px;
    margin-bottom: 30px;
}

#chat-you-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    margin-bottom: 30px;
}

/* input de mensagem */
input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;

    width: 311px;
    height: 52px;

    background: var(--input-message-color);
    border-radius: 999px;
    border: none;
    color: var(--text-color);
}

/* cor do texto do placeholder */
input::placeholder {
    color: var(--text-color);
}

/* div do input de mensagem */
#send {
    position: relative;
}

/* icone de enviar mensage */
#send img {
    position: absolute;
    top: 28%;
    right: 24px;
    z-index: 1;
    cursor: pointer;
}